[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
hypothesis = "*"
pytest-cov = "*"
# pytest-profiling = "*"
{%- if cookiecutter.documentation_framework == "Sphinx" %}
recommonmark = "*"
sphinx = ">=3.0"
sphinx-rtd-theme = "*"
{%- elif cookiecutter.documentation_framework == "MkDocs" %}
Markdown = "*"
Pygments = "*"
mkdocs = "*"
mkdocs-awesome-pages-plugin = "*"
mkdocs-material = "*"
mkdocs-minify-plugin = "*"
pymdown-extensions = "*"
{%- endif %}

[packages]
{%- if cookiecutter.command_line_interface == 'Click' %}
click = "*"
{%- endif %}
